# Environments & Secrets
.env
.env.local
*.env
service-account*.json
firebase-key*.json
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
dist/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
